<% if (post.link){ %>
  <h1 itemprop="name">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 itemprop="name">
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h1>
  <% } else { %>
    <h1 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>
<% if (author && post.author) { %>
  <div class="article-author">
    <a href="<%- config.root %><%- 'author/' + post.authorId %>"><%= post.author.name %></a>
    <span class="article-author-description" title="<%= post.author.about %>"><%= post.author.about %></span>
  </div>
<% } %>
