<link rel="stylesheet" href="/css/pygment_trac.css" />
<link rel="stylesheet" href="/css/members.css" />
<div class="wrapper">
	<header class="site-header">
		<img class="site-logo" src="logo.png" alt="Asuri" />
		<h1>A CTF Team From NUAA.</h1>
		<hr>
	</header>
	<ul class="other-site">
		<a href="https://www.asuri.org/">
			<li>🌏 Blog</li>
		</a>
		<a href="https://ctftime.org/team/65539">
			<li>🚩 CTFTime</li>
		</a>
		<a href="#members">
			<li>🕵 Members</li>
		</a>
		<a href="#awards">
			<li>🏆 Awards</li>
		</a>
		<a href="https://github.com/Asuri-Team">
			<li>🐈 GitHub</li>
		</a>
	</ul>
	<section class="site-content">
		<h1 id="intro">introduction</h1>

		<blockquote>ASURI: Asuri Secure yoUR Information.</blockquote>

		<p>南京航空航天大学 Asuri 信息安全战队成立于 2014 年，成立以来一直致力于信息安全技术的研究，作为高校战队长期活跃在各大 CTF 赛事（信息安全竞赛）之中，并依靠着过硬的实力吸引了无数同样热爱安全的小伙伴。</p>

		<p>我们有奋斗于安全一线的 Hacker，或是痴迷用代码改变世界的 Programmer，亦不乏潜心钻研的 Geeker。我们始终不安一隅，崇尚技术，不断在信息安全的传统界线上寻求挑战和突破。</p>

		<h1 id="members">members</h1>

		<h2 id="active-members">活跃成员</h2>

		<%- partial('_partial/member-list', { members: authors.active }) %>

		<h2 id="history-members">历史活跃成员</h2>

		<%- partial('_partial/member-list', { members: authors.inactive }) %>

		<h1 id="awards">awards</h1>

		<ul class="award-timeline">
			<% for (const award of site.data.awards) { %>
			<li class="award-record">
				<span class="award-time">
					<%- award.time %>
					<span class="award-rank-sm">🏆 <%- award.rank %></span>
				</span>
				<span class="award-name">
					<span class="award-name-scroll"><%- award.name %></span>
					<span class="award-rank-lg">🏆 <%- award.rank %></span>
				</span>
			</li>
			<% } %>
		</ul>
	</section>
</div>

<script src="/js/scale.fix.js"></script>
